html, html * {
  font-size: 16px;
}

* {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  width: 100%;
  max-width: 1280px;
}

body>div {
  margin: 0;
  padding: 0.5em;
}

div:first-child {
  padding-top: 0;
}

canvas {
  min-width: 480px;
  max-width: 1280px;
  width: 99%;
}

input[type=text], select {
  margin: 5px 5px 5px 0;
  padding: 5px;
  width: 100%;
  max-width: 50em;
  border: 1px solid rgb(0, 0, 0);
}

input[type=file] {
  border: 1px black solid;
  width: 250px;
  margin-top: 5px;
}

button {
  line-height: 100%;
  border: 1px black solid;
  padding: 0.1em 0.5em;
  margin: 0 0.5em;
  background-color: #fdaa8a;
  color: #ffffff;
}

button.gen {
  border: 1px #666666 solid;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  background-color: #dd5f73;
  color: whitesmoke;
}

#customize input {
  width:5em;
  margin-left:0;
}

#customize input+span {
  color: blue;
  padding-left:1em;
}

.toggle+div {
  display: none;
  border: 1px solid grey;
  padding:0 1em;
  max-width: 50em;
}

.mondai div:nth-child(even) {
  padding-left: 2em;
  margin-top: 0;
}

button:hover {
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
}

button:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

div {
  margin: 0.5em 0;
}

div.f {
  float: clear;
  overflow: auto;
}

div.f div {
  float: left;
  margin: 0;
}

#color {
  width: 3em;
  margin-right: 1.5em
}

#urlBk {
  width: 15em;
}